DATA_ORCHESTRATOR_PORT=
RULE_ENGINE_PORT=
VALIDATION_SERVICE_PORT=
WEBHOOK_SERVICE_PORT=

VALIDATION_SERVICE_URL=

DB_FLUSH_INTERVAL=
MONGODB_URL=
DATABASE_NAME=
REDIS_HOST=
REDIS_PORT=
REDIS_DB=
REDIS_PASSWORD=
API_SECRET_KEY=
