DATA_ORCHESTRATOR_PORT=
RULE_ENGINE_PORT=
VALIDATION_SERVICE_PORT=
WEBHOOK_SERVICE_PORT=

VALIDATION_SERVICE_URL=
DATA_ORCHESTRATOR_SERVICE_URL=

DB_FLUSH_INTERVAL=
MONGODB_URL=
DATABASE_NAME=
REDIS_HOST=
REDIS_PORT=
REDIS_DB=
REDIS_PASSWORD=
API_SECRET_KEY=
JWT_SECRET_KEY=
JWT_ALGORITHM=
JWT_EXPIRE_MINUTES=

MAILGUN_ENABLED =
MAILGUN_API_KEY = 
MAILGUN_DOMAIN = 
MAIL_WORKER_INTERVAL=

GROQ_API_KEY=